<div class="dropdown" style="width:100%">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Choose Players
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" (click)="refresh()">
        <a onclick="event.stopPropagation();" class="dropdown-item" *ngFor="let player of players"
            [ngStyle]="{'background-color': backgroundColor(player.code)}"
            (click)="update(player.code)">{{player.surname}}</a>
    </div>
</div>