<div class="dropdown" style="width:100%">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Choose Players
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a onclick="event.stopPropagation();" class="dropdown-item" *ngFor="let player of players"
            [class]="playerChoiceClass(player)" (click)="update(player)">{{player.surname}}</a>
    </div>
</div>